<form
  class="email-signup__form email-signup__form--{{ modifier }}"
  data-signup-form
  data-id="WddYgt"
  data-g="YeneuE"
  data-$source="Newsletter Signup"
  data-form-version="1180004"
>
  <label class="visually-hidden" aria-label="Sign up for our newsletter" for="email-{{ id }}">Sign up for our email newsletter</label>
  <input
    class="email-signup__input email-signup__input--{{ modifier }}"
    type="email"
    name="email"
    id="email-{{ id }}"
    placeholder="Enter Your Email Address"
    data-email
    required
  >
  <button
    class="email-signup__submit email-signup__submit--{{ modifier }} button"
    type="submit"
  >
    Sign Up
  </button>
  <div
    class="email-signup__message email-signup__message--{{ modifier }}"
    data-email-message
  ></div>
</form>
