<section class="footer__container container">
  <div class="footer__logo-email">
    {%
      render 'logo',
      useLogo: section.settings.showLogo,
      logoType: section.settings.logoTypeFooter
      logoClass: 'footer__logo'
      logoSize: section.settings.logoSizeFooter
    %}
    {% if section.settings.showEmailSignup %}
    <div class="footer-logo-email__signup">
      <h3 class="footer-logo-email-signup__heading">{{ section.settings.emailSignupText }}</h3>
      {% render 'newsletterSignup', modifier: 'footer', id: section.id %}
    </div>
    {% endif %}
  </div>
  <div class="footer__menus">
    {% if section.settings.showNavigations %}
      {% for block in section.blocks %}
        {% render 'footerMenu', menu: block.settings, index: forloop.index0, showAddress: section.settings.showAddress %}
      {% endfor %}
    {% endif %}
    {% if section.settings.showSocial %}
      {% render 'socialList', heading: 'Find Us', modifier: 'footer' %}
    {% endif %}
  </div>
</section>
<div class="footer__copyright">
  <small>Copyright &copy; {{ 'now' | date: "%Y" }} <a class="footer-copyright__link" href="/">{{ shop.name }}</a></small>
</div>

{% style %}
.footer#shopify-section-{{ section.id }} {
  --background-color: var(--{{ section.settings.bgFooter }});
  --text-color: var(--{{ section.settings.textColorFooter }});
}
{% endstyle %}

{% schema %}
{
  "name": "Website Footer",
  "tag": "footer",
  "class": "footer",
  "settings": [
    {
      "type": "header",
      "content": "Footer Colors"
    },
    {
      "type": "select",
      "id": "bgFooter",
      "label": "Background Color",
      "options": [
        { "value": "color-primary", "label": "Primary Brand Color" },
        { "value": "color-secondary", "label": "Secondary Brand Color" },
        { "value": "color-tertiary", "label": "Tertiary Brand Color" },
        { "value": "color-white", "label": "White" },
        { "value": "color-gray-light", "label": "Light Gray" },
        { "value": "color-gray-medium", "label": "Medium Gray" },
        { "value": "color-gray-dark", "label": "Dark Gray" },
        { "value": "color-black", "label": "Black" }
      ]
    },
    {
      "type": "select",
      "id": "textColorFooter",
      "label": "Text Color",
      "options": [
        { "value": "color-primary", "label": "Primary Brand Color" },
        { "value": "color-secondary", "label": "Secondary Brand Color" },
        { "value": "color-tertiary", "label": "Tertiary Brand Color" },
        { "value": "color-white", "label": "White" },
        { "value": "color-gray-light", "label": "Light Gray" },
        { "value": "color-gray-medium", "label": "Medium Gray" },
        { "value": "color-gray-dark", "label": "Dark Gray" },
        { "value": "color-black", "label": "Black" }
      ]
    },
    {
      "type": "header",
      "content": "Footer Settings"
    },
    {
      "type": "checkbox",
      "id": "showLogo",
      "label": "Show Logo",
      "default": true
    },
    {
      "type": "select",
      "id": "logoTypeFooter",
      "label": "Type of Logo to use",
      "options": [
        { "value": "brandLogoLight", "label": "Logo for Dark Backgrounds" },
        { "value": "brandLogoDark", "label": "Logo for Light Backgrounds" }
      ]
    },
    {
      "type": "number",
      "id": "logoSizeFooter",
      "label": "Maximum Logo Size (px)",
      "default": 180
    },
    {
      "type": "checkbox",
      "id": "showEmailSignup",
      "label": "Show Email Signup",
      "default": true
    },
    {
      "type": "text",
      "id": "emailSignupText",
      "label": "Email Signup Text",
      "default": "Sign Up For Our Newsletter"
    },
    {
      "type": "checkbox",
      "id": "showAddress",
      "label": "Show Company Address",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "showNavigations",
      "label": "Show Footer Menus",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "showSocial",
      "label": "Show Social Media",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Footer Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Menu Heading"
        },
        {
          "type": "link_list",
          "id": "footerMenu",
          "label": "Footer Menu"
        }
      ]
    }
  ]
}
{% endschema %}
