<section class="gallery__container container">
  {% for block in section.blocks %}
    <a class="gallery__item gallery-item" href="{{ block.settings.link }}" id="gallery-item-{{ block.id }}">
      <div
        class="gallery-item__image {% if block.settings.useBgOverlay %} gallery-item__image--with-overlay {% endif %}"
        data-lazy-bg
        data-src="{{ block.settings.image | img_url: '960x', format: 'pjpg'  }}"
      >
      </div>
      <div class="gallery-item__content">
        <h3 class="gallery-item__heading">{{ block.settings.heading }}</h3>
        {% if block.settings.hoverText != blank %}
          <p class="gallery-item__hover-text">{{ block.settings.hoverText }}</p>
        {% endif %}
      </div>
    </a>
  {% endfor %}
</section>

{% style %}
.custom-content-section#shopify-section-{{ section.id }} {
  --padding-bottom: {{ section.settings.paddingBottom }}rem;
  --padding-top: {{ section.settings.paddingTop }}rem;
  --background-color: var(--{{ section.settings.bgColor }});
}
{% for block in section.blocks %}
  #gallery-item-{{ block.id }} {
    --flex-width: {{ block.settings.width }};
    --opacity: {{ block.settings.blockBgOpacity }};
    --item-bg: var(--{{ block.settings.blockBgColor }});
    --item-text-color: var(--{{ block.settings.blockTextColor }});
    --item-text-size: {{ block.settings.textSize }}em;
  }
{% endfor %}
{% endstyle %}

{% schema %}
{
  "name": "Gallery",
  "max_blocks": 4,
	"tag": "section",
	"class": "gallery custom-content-section",
  "settings": [
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "number",
      "id": "paddingTop",
      "label": "Top Padding",
      "default": 3
    },
    {
      "type": "number",
      "id": "paddingBottom",
      "label": "Bottom Padding",
      "default": 3
    },
    {
      "type": "select",
      "id": "bgColor",
      "label": "Background Color",
      "options": [
        { "value": "color-primary", "label": "Primary Brand Color" },
        { "value": "color-secondary", "label": "Secondary Brand Color" },
        { "value": "color-tertiary", "label": "Tertiary Brand Color" },
        { "value": "color-white", "label": "White" },
        { "value": "color-gray-light", "label": "Light Gray" },
        { "value": "color-gray-medium", "label": "Medium Gray" },
        { "value": "color-gray-dark", "label": "Dark Gray" },
        { "value": "color-black", "label": "Black" }
      ],
      "default": "color-white"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "header",
          "content": "Appearance"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Item Width",
          "default": "4",
          "options": [
            { "value": "3", "label": "1/4" },
            { "value": "4", "label": "1/3" },
            { "value": "6", "label": "1/2" },
            { "value": "8", "label": "2/3" },
            { "value": "9", "label": "3/4" },
            { "value": "12", "label": "1" }
          ]
        },
        {
          "type": "header",
          "content": "Background"
        },
        { "type": "image_picker", "id": "image", "label": "Image" },
        { "type": "checkbox", "id": "useBgOverlay", "label": "Use Overlay?", "default": true },
        {
          "type": "select",
          "id": "blockBgColor",
          "label": "Background Color",
          "options": [
            { "value": "color-primary", "label": "Primary Brand Color" },
            { "value": "color-secondary", "label": "Secondary Brand Color" },
            { "value": "color-tertiary", "label": "Tertiary Brand Color" },
            { "value": "color-white", "label": "White" },
            { "value": "color-gray-light", "label": "Light Gray" },
            { "value": "color-gray-medium", "label": "Medium Gray" },
            { "value": "color-gray-dark", "label": "Dark Gray" },
            { "value": "color-black", "label": "Black" }
          ],
          "default": "color-white"
        },
        { "type": "text", "id": "blockBgOpacity", "label": "Background Opacity", "default": "0" },
        {
          "type": "header",
          "content": "Text"
        },
        { "type": "url", "id": "link", "label": "Link" },
        { "type": "text", "id": "heading", "label": "Heading" },
        {
          "type": "text",
          "id": "hoverText",
          "label": "Hover Text",
          "default": "Shop now",
          "info": "Optional text to show on hover"
        },
        {
          "type": "select",
          "id": "blockTextColor",
          "label": "Item Text Color",
          "options": [
            { "value": "color-primary", "label": "Primary Brand Color" },
            { "value": "color-secondary", "label": "Secondary Brand Color" },
            { "value": "color-tertiary", "label": "Tertiary Brand Color" },
            { "value": "color-white", "label": "White" },
            { "value": "color-gray-light", "label": "Light Gray" },
            { "value": "color-gray-medium", "label": "Medium Gray" },
            { "value": "color-gray-dark", "label": "Dark Gray" },
            { "value": "color-black", "label": "Black" }
          ],
          "default": "color-black"
        },
        {
          "type": "text",
          "id": "textSize",
          "label": "Text Size Ratio",
          "default": "1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery",
      "category": "Image"
    }
  ]
}
{% endschema %}
